body {
  background: rgb(141, 141, 141);
  background: linear-gradient(
    90deg,
    rgba(141, 141, 141, 1) 0%,
    rgba(158, 243, 243, 1) 0%
  );
}

.head {
  font-size: 50px;
  padding-top: 250px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.img {
  width: 100%;
}

.p {
  font-size: 20px;
  padding-top: 20px;
}

.about {
  font-size: 50px;
  padding-top: 80px;
  /* padding-left: 300px; */
  font-family: fantasy;
}
p {
  padding-top: 80px;
  padding-left: 20px;
  font-family: cursive;
}

.cards {
  background-color: white;
}
